<h3>Data Inserted Successfully!</h3>
{{!-- <table>
    <th>Plot</th>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
    <th>Rated</th>
   <tr>
        <td>{{data.plot}}</td>       
        <td>{{data.title}}</td>
        <td>{{data.director}}</td>
        <td>{{data.year}}</td>
        <td>{{data.rated}}</td>
    </tr>
   
</table> --}}